<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="<%= profileDetail?.logo %>" style="border-radius: 50px; width: 30px; height: 30px; object-fit: cover;">
      </div>
    </a>
    <a href="" id="emailid" class="simple-text logo-normal">
      <%= profileDetail?.firstName %>
     
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li id="dashboard">
        <a href="/dashboard">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li id="questionnaire">
        <a href="/generic_questionnaire">
          <i class="nc-icon nc-bullet-list-67"></i>
          <p>Questionnaire</p>
        </a>
      </li>
      <li id="funds">
        <a href="/funds">
          <i class="nc-icon nc-money-coins"></i>
          <p>Fundings</p>
        </a>
      </li>
      <li id="financials">
        <a href="/financial">
          <i class="nc-icon nc-paper"></i>
          <p>Financial</p>
        </a>
      </li>
      <!-- <li id="user">
        <a href="/user">
          <i class="nc-icon nc-single-02"></i>
          <p>Company Profile</p>
        </a>
      </li> -->
    </ul>
  </div>
</div>
<script>
  console.log(window.location.href) ; 
  if(window.location.href.toString().endsWith('financial')){
    document.getElementById('financials').classList.toggle('active') ;
  }else if(window.location.href.endsWith('user')){
    document.getElementById('user').classList.toggle('active') ;
  }else if(window.location.href.includes('questionnaire')){
    document.getElementById('questionnaire').classList.toggle('active') ;
  }else if(window.location.href.endsWith('dashboard')){
    document.getElementById('dashboard').classList.toggle('active') ;
  }else if(window.location.href.endsWith('funds')){
    document.getElementById('funds').classList.toggle('active') ;
  }
</script>