<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png">
      </div>
      <!-- <p>CT</p> -->
    </a>
    <label id="emailid" class="simple-text logo-normal">
      StartUp
      <!-- <div class="logo-image-big">
        <img src="../assets/img/logo-big.png">
      </div> -->
    </label>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="/dashboard">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="./questionnaire">
          <i class="nc-icon nc-bullet-list-67"></i>
          <p>Questionnaire</p>
        </a>
      </li>
      
      <li class="active">
        <a href="./financial">
          <i class="nc-icon nc-bell-55"></i>
          <p>Financial</p>
        </a>
      </li>
      <li>
        <a href="/user">
          <i class="nc-icon nc-single-02"></i>
          <p>Company Profile</p>
        </a>
      </li>
    </ul>
  </div>
</div>