<%- include('../partials/header') %>
<%- include('../partials/SideBar') %>
<style>
    .inputs{
        border: none ;
        outline: none ;
        background-color: inherit;
    }
    .question-nav{
    width: 90%;
    margin: 10px auto;
    background: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    }
    .question-link {
        flex: 150px;
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        background: hsla(0, 0%, 100%, 0.1);
        margin: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 3px;
    }
    .question-link:hover{
        text-decoration: none;
        color: #000;
        background: #f0f0f0;
    }
    .active-question-link {
        text-decoration: none;
        color: #000;
        background: #f0f0f0;
    }
    .add-button {
        background-color: hsla(0, 0%, 100%, .1);
    }
</style>
<div class="content" style="height: 100vh;">
        <div class="question-nav">
            <a href="/funds" class="question-link" id="main">main</a>
            <a href="/funds/pastfunds" class="question-link" id="pastfunds">Past Fundings</a>
        </div>
        <div class="data">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Equity %</th>
                    <th scope="col">Capital Raised</th>
                    <th scope="col">Valuation</th>
                    <th scope="col">Closed Date</th>
                    </tr>
                </thead>
                <tbody id="Tbody">
                    <tr>
                        <td><input type="text" placeholder="0" class="inputs"/></td>
                        <td><input type="text" placeholder="0" class="inputs"/></td>
                        <td><input type="text" placeholder="0" class="inputs"/></td>
                        <td><input type="text" placeholder="0" class="inputs"/></td>
                    </tr>
                </tbody>
            </table>
            <div><button class="add-button btn btn-primary bg-dark">Add+</button></div>
        </div>
</div>
<script>
    if(window.location.href.toString().endsWith("pastfunds")){
        document.getElementById('pastfunds').classList.add('active-question-link') ;
    }else if(window.location.href.toString().endsWith("funds")){
        document.getElementById('main').classList.add('active-question-link') ;
    }

    document.addEventListener('click', function (event) {
        if (!event.target.matches('.add-button')) return;
        event.preventDefault();
        console.log(event.target);
        let table = document.createElement('tr') ;
        let i1 = document.createElement('input') ; 
        let i2 = document.createElement('input') ; 
        let i3 = document.createElement('input') ; 
        let i4 = document.createElement('input') ; 
        let d1 = document.createElement('td') ;
        let d2 = document.createElement('td') ;
        let d3 = document.createElement('td') ;
        let d4 = document.createElement('td') ;

        i1.placeholder = '0' ;
        i2.placeholder = '0' ;
        i3.placeholder = '0' ;
        i4.placeholder = '0' ;

        i1.classList.add('inputs') ;
        i2.classList.add('inputs') ;
        i3.classList.add('inputs') ;
        i4.classList.add('inputs') ;

        d1.appendChild(i1) ;
        d2.appendChild(i2) ;
        d3.appendChild(i3) ;
        d4.appendChild(i4) ;
        table.appendChild(d1) ;
        table.appendChild(d2) ;
        table.appendChild(d3) ;
        table.appendChild(d4) ;
        document.getElementById('Tbody').appendChild(table) ;
    },);
</script>


<%- include('../partials/footer') %>