<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic Question</title>
    <link rel="stylesheet" href="/assets/css/questionnaire.css">
</head>
<body>
    <div class="question-nav">
        <a href="/questionnaire/generic" class="question-link">Generic</a>
        <a href="/questionnaire/business" class="question-link">Business</a>
        <a href="/questionnaire/team" class="question-link">Team</a>
        <a href="/questionnaire/legal" class="question-link">Legal</a>
        <a href="/questionnaire/market" class="question-link">Market</a>
    </div>
    <form class="form">
        <div class="question-box">
            <p class="question-para">
                <span class="question-num">1</span>
                Which sector or industry does your business belong to?
            </p>
            <select name="sector" class="sector-select"></select>
        </div>
        <div class="question-box">
            <p class="question-para">
                <span class="question-num">2</span>
                What type of business activity does your start-up engage in?            
            </p>
            <select name="business" class="business-select"></select>
        </div>
        <div class="question-box">
            <p class="question-para">
                <span class="question-num">3</span>
                Which market category does your business target?            
            </p>
            <select name="market" class="market-select"></select>
        </div>
        <div class="question-box">
            <p class="question-para">
                <span class="question-num">4</span>
                What is your current Stage of Development?         
            </p>
            <select name="stage" class="stage-select"></select>
        </div>
        <div class="question-box">
            <p class="question-para">
                <span class="question-num">5</span>
                What type of products/services do you manufacture/provide?   
            </p>
            <select name="service" class="service-select"></select>
        </div>
        <div class="question-box">
            <p class="question-para">
                <span class="question-num">6</span>
                What is the mission of your start-up?
            </p>
            <textarea name="mission" rows="3" ></textarea>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">7</span>
                What is the number of founder ? 
            </p>
            <div class="input-container" >
                <input name="founderNum" type="number" min="0" placeholder="Num. of founders" />
            </div>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">8</span>
                Give us some background on them. 
            </p>
            <ol class="founder-list" ></ol>
            <div class="input-container" >
                <input type="text" class="founder-input" placeholder="LinkedIn Link" />
            </div>
            <button class="add-btn add-founder-btn">Add Link</button>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">9</span>
                What is the number of permanent employees?            
            </p>
            <div class="input-container" >
                <input name="employeeNum" type="number" min="0" placeholder="Num. of employee" />
            </div>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">10</span>
                Give us some background on them. 
            </p>
            <ol class="employee-list" ></ol>
            <div class="input-container" >
                <input type="text" class="employee-input" placeholder="LinkedIn Link" />
            </div>
            <button class="add-btn add-employee-btn">Add Link</button>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">11</span>
                Committed Capital, <span>if any</span>
            </p>
            <div class="input-container" >
                <input name="commited-capital" type="number" min="0" placeholder="Number (INR)"/>
            </div>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">12</span>
                Which type of funding are you targeting?
            </p>
            <div class="input-container" >
                <input name="target-funding" type="number" min="0" placeholder="Number (INR)" />
            </div>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">13</span>
                 What is the current ownership status of your start-up?
            </p>
            <div class="input-container" >
                <input name="owner-name" type="text" placeholder="Name of the owner" /> 
                <input name="owner-percentage" type="number" min="0" placeholder="Percentage"/>
            </div>
        </div>
        <div class="question-box">
            <p>
                <span class="question-num">14</span>
                Give us some background on the past funding rounds of your start-up?
            </p>
            <div class="input-container" >
                <input name="past-owner" type="text" placeholder="Name of the owner" /> 
                <input name="past-percentage" type="number" min="0" placeholder="Percentage"/>
            </div>
        </div>
        <div class="btn-container" >
            <button class="submit-btn" type="submit" >Submit Your Answers</button>
        </div>

    </form>
    <script src="/assets/js/generic.js"></script>
</body>
</html>