<%- include('../partials/header') %>
<%- include('../partials/SideBar') %>
      <!-- End Navbar -->

      <div class="content">
        <div class="question-nav">
            <a href="/questionnaire/generic" class="question-link">Generic</a>
            <a href="/questionnaire/business" class="question-link">Business</a>
            <a href="/questionnaire/team" class="question-link">Team</a>
            <a href="/questionnaire/legal" class="question-link">Legal</a>
            <a href="/questionnaire/market" class="question-link">Market</a>
        </div>
        <form action="" class="form">
            <h2>Founders/Co-Founders</h2>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">1</span>
                    How many founders does the company have?               
                </p>
                <div class="input-container" >
                    <input type="number" min="0" name="founder-num" />
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">2</span>
                    How many employees work for the company? (excluding founders, interns and freelancers)	               
                </p>
                <div class="input-container" >
                    <input type="number" min="0" name="founder-num" />
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">3</span>
                    Do any of you have entrepreneurial experience?               
                </p>
                <div class="input-container" >
                    <input type="radio" id="" name="entre-exp" value="0"/>
                    <span for="">No prior entrepreneurial experience</span><br/>
                    <input type="radio" id="" name="entre-exp" value="75"/>
                    <span for="">At least one of us has prior entrepreneurial expertise, but no experience as a founder </span><br/>
                    <input type="radio" id="" name="entre-exp" value="75"/>
                    <span for="">At least one of us has found a company before</span><br/>
                    <input type="radio" id="" name="entre-exp" value="100"/>
                    <span for="">At least one of us has successfully run a company before </span><br/>
                </div>
            </div>
    
    
            <h2>Management/Core Team</h2>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">4</span>
                    How long have your core team members worked together?
                </p>
                <div class="input-container" >
                    <input type="radio" id="" name="work-together" value="50"/>
                    <span for="">less than a year</span><br/>
                    <input type="radio" id="" name="work-together" value="100"/>
                    <span for="">Between 1 and 2 years</span><br/>
                    <input type="radio" id="" name="work-together" value="125"/>
                    <span for="">Between 2+ and 5 years</span><br/>
                    <input type="radio" id="" name="work-together" value="150"/>
                    <span for="">More than 5 years </span><br/>
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">5</span>
                    Is the core team equipped with all necessary technical competencies? 
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="work-together" value="50"/>
                    <span for="">We lack several vital technical competencies. Thus, we rely heavily on outsourcing</span><br/>
                    <input type="radio" id="" name="work-together" value="100"/>
                    <span for="">We have some technical competencies and the rest is outsourced</span><br/>
                    <input type="radio" id="" name="work-together" value="125"/>
                    <span for="">The majority of technical competencies are available in-house. Only a few are outsourced.
                    </span><br/>
                    <input type="radio" id="" name="work-together" value="150"/>
                    <span for="">All technical competencies necessary are available in-house</span><br/>
                </div>
            </div>
            <!-- --------------------
                creating a table 
            ----------------->
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">6</span>
                    Does the management team have demonstrable leadership experience?
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="work-together" value="0"/>
                    <span for="">No leadership experience</span><br/>
                    <input type="radio" id="" name="work-together" value="75"/>
                    <span for="">Few of us have leadership experience (< 25% of the team)</span><br/>
                    <input type="radio" id="" name="work-together" value="100"/>
                    <span for="">Many of us have leadership experience. (25% - 75% of the team)</span><br/>
                    <input type="radio" id="" name="work-together" value="125"/>
                    <span for="">Most of us have leadership experience. (>75% of the team) </span><br/>
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">7</span>
                    What is the collective amount of capital invested by the founders so far ?	
                </p>
                <div class="input-container" >
                    <input name="capital-invested" type="number" min="0" placeholder="capital invested" />
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">8</span>
                    What is the founder's degree of involvement?
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="founder-invol-degree" value="50"/>
                    <span for="">We consider the business as a side gig to our present job</span><br/>
                    <input type="radio" id="" name="founder-invol-degree" value="75"/>
                    <span for="">We are now dedicated part-time on a regular basis</span><br/>
                    <input type="radio" id="" name="founder-invol-degree" value="100"/>
                    <span for="">We are now dedicated part-time and aim to commit full-time once the company's organizational structure is fully functional.</span><br/>
                    <input type="radio" id="" name="founder-invol-degree" value="200"/>
                    <span for="">We've made a full-time commitment</span><br/>
                </div>
            </div>
    
            <h2>Other Employees</h2>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">9</span>
                    How many employees does the company have? (Founders, interns, and freelancers excluded)
                </p>
                <div class="input-container" >
                    <input name="company-employee" type="number" min="0" />
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">10</span>
                    How are roles and responsibilities assigned within the organization?	
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="role-respon" value="0"/>
                    <span for="">Roles and Responsibilities are not pre-defined</span><br/>
                    <input type="radio" id="" name="role-respon" value="50"/>
                    <span for="">Roles and Responsibilities are pre-defined and are communicated verbally</span><br/>
                    <input type="radio" id="" name="role-respon" value="100"/>
                    <span for="">Roles and Responsibilities are clearly defined and are well documented.</span><br/>
                    <input type="radio" id="" name="role-respon" value="125"/>
                    <span for="">Roles and Responsibilities are defined and documented while ensuring the team agreement on the same.</span><br/>
                    <p>Please enter your comment here:</p>
                    <textarea name="role-respon-comment" rows="3" ></textarea>
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">11</span>
                    What are the organization’s skills and knowledge enhancement plans?	
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="skill-enhance" value="0"/>
                    <span for="">No upskilling is required. </span><br/>
                    <input type="radio" id="" name="skill-enhance" value="50"/>
                    <span for="">Training needs are fulfilled through self-learning. </span><br/>
                    <input type="radio" id="" name="skill-enhance" value="100"/>
                    <span for="">Training plans are executed if the needs are expressed by the team members</span><br/>
                    <input type="radio" id="" name="skill-enhance" value="120"/>
                    <span for="">Training plans are executed based on the regular need assessment for teams and individuals</span><br/>
                    <p>Please enter your comment here:</p>
                    <textarea name="skill-enhance-comment" rows="3" ></textarea>
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">12</span>
                    How do you ensure the key skills availability in the team?
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="skill-avail" value="0"/>
                    <span for="">We’re unsure about our key skill requirements. </span><br/>
                    <input type="radio" id="" name="skill-avail" value="75"/>
                    <span for="">The key skills are well defined but the recruitment process has to be undertaken. </span><br/>
                    <input type="radio" id="" name="skill-avail" value="125"/>
                    <span for="">The key skills are well defined and the majority of the key skills are held by few individuals</span><br/>
                    <input type="radio" id="" name="skill-avail" value="150"/>
                    <span for="">The key skills are well defined and owned by several individuals working in different teams</span><br/>
                    <p>Please enter your comment here:</p>
                    <textarea name="skill-avail-comment" rows="3" ></textarea>
                </div>
            </div>
            <div class="question-box">
                <p class="question-para">
                    <span class="question-num">13</span>
                    What are the reward and recognition methods? 
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="reward-method" value="0"/>
                    <span for="">Only intangible rewards and recognition such as public appreciation is used </span><br/>
                    <input type="radio" id="" name="reward-method" value="75"/>
                    <span for="">A bonus is awarded if the team or individual goals are met.</span><br/>
                    <input type="radio" id="" name="reward-method" value="125"/>
                    <span for="">A bonus is given for meeting personal goals. </span><br/>
                    <input type="radio" id="" name="reward-method" value="150"/>
                    <span for="">A bonus is paid if personal goals are met, and key employees own equity in the company.</span><br/>
                    <p>Please enter your comment here:</p>
                    <textarea name="reward-method-comment" rows="3" ></textarea>
                </div>
            </div>
            <div class="question box">
                <p class="question-para">
                    <span class="question-num">14</span>
                    How do you position yourself as an employer in the job market? 
                </p>
                <div class="input-container">
                    <textarea name="your-market-position" rows="3" ></textarea>
                </div>
            </div>
            <div class="question box">
                <p class="question-para">
                    <span class="question-num">15</span>
                    Does your company have a mentor(s)?    
                </p>
                <div class="input-container">
                    <input type="radio" id="" name="have-mentor" value="100"/>
                    <span for="">Yes</span><br/>
                    <input type="radio" id="" name="have-mentor" value="0"/>
                    <span for="">No</span><br/>
                </div>
                <!-- table left -->
            </div>
            <div class="btn-container" >
                <button class="submit-btn" type="submit" >Submit Your Answers</button>
            </div>
        </form>
      </div>

      <!-- footer start -->
      <%- include('../partials/footer') %>